# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dataset
airline_passenger_satisfaction.csv
